DATABASE_URL="mysql://username:password@localhost:3306/mydb"
DATABASE_USER="username" 
DATABASE_PASSWORD="password" 
DATABASE_NAME="mydb" 
DATABASE_HOST="localhost" 
DATABASE_PORT=3306 
JWT_ACCESS_SECRET=your_secret_key
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=your_secret_key
JWT_REFRESH_EXPIRY=7d
NODE_ENV=development
AWS_REGION=your_aws_region
AWS_BUCKET_NAME=your_aws_bucket_name
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
GMAIL_USER=your_gmail_user
GMAIL_APP_PASSWORD=your_gmail_app_password
FRONTEND_URL=http://localhost:5173
FIREBASE_PROJECT_ID=wens-force-attendance
FIREBASE_CLIENT_EMAIL=your_client_email
FIREBASE_PRIVATE_KEY=your_private_key